<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vue Basics</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Jost:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="styles.css" />
    <script src="https://unpkg.com/vue@next" defer></script>
    <script src="app.js" defer></script>
  </head>
  <body>
    <header>
      <h1>Monster Game</h1>
    </header>
    <div id="game">
      <section id="monster" class="container">
        <h2>Monster Health</h2>
        <div class="healthbar">
          <div class="healthbar__value" :style="{width: monsterHealth + '%'}"></div>
        </div>
      </section>
      <section id="player" class="container">
        <h2>Your Health</h2>
        <div class="healthbar">
          <div class="healthbar__value" :style="{width: playerHealth + '%'}"></div>
        </div>
      </section>

      <section class = "container" v-if="winner">
        <h1 >Game over</h1>
        <h2 v-if="winner === 'monster'">You lost</h2>
        <H2 v-else-if ="winner==='player'">You won</H2>
        <h2 v-else >It is a draw!</h2>
        <button @click="startGame">Start new game</button>
      </section>

      <section id="controls" v-else>
        <button @click = 'attackMonster()'>ATTACK</button>
        <button :disabled='currentRound % 3 !== 0' @click = 'specialAttackMonster()'>SPECIAL ATTACK</button>
        <button @click="healPlayer()">HEAL</button>
        <button @click="surrender()">SURRENDER</button>
      </section>

    </div>
  </body>
</html>
